<h3>Lots menu</h3>

<div class="btn-group">
    <a asp-action="Create" class="btn btn-outline-secondary">Add new lot</a>
    <a asp-action="Get" class="btn btn-outline-secondary">Search lots</a>
</div>